$yellow: rgb(247, 219, 21);
$yellow-transparent: rgba(247, 219, 21, 0.5);
$yellow-hovered: rgb(247, 226, 79);
$gray: rgb(245, 245, 245);
$gray-transparent: rgba(245, 245, 245, 0.9);
$red: rgb(242, 86, 72);
$orange: rgb(255, 171, 15);