@import "base/globals";
@import "base/colors";
@import "base/fonts.scss";

@keyframes glowing {
	0% {
		background-color: #ffe30f;
	}
	50% {
		background-color: $orange;
	}
	100% {
		background-color: #ffe30f;
	}
}

@keyframes show-footer {
	0% {
		top: 0;
	}
	25% {
		top: -$marginals-height;
	}
	75% {
		top: -$marginals-height;
	}
	100% {
		top: 0;
	}
}

#markerLayer div {
	animation: pulse .5s infinite alternate, drop .5s 1;
	transform-origin: center;
}

@keyframes pulse {
	to {
		transform: scale(0.7);
	}
}

@keyframes drop {
	0% {
		transform: translate3d(0px, -500px, 0);
		animation-timing-function: ease-in;
	}
	50% {
		transform: translate3d(0px, 0px, 0);
		animation-timing-function: ease-out;
	}
	75% {
		transform: translate3d(0px, -20px, 0);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translate3d(0px, 0px, 0);
		animation-timing-function: ease-out;
	}
}