@font-face {
  font-family: "RR Beaver";
  src: url("../fonts/RR_Beaver.woff") format("woff2"), url("../fonts/RR_Beaver.woff2") format("woff");
}
@keyframes glowing {
  0% {
    background-color: #ffe30f;
  }
  50% {
    background-color: #ffab0f;
  }
  100% {
    background-color: #ffe30f;
  }
}
@keyframes show-footer {
  0% {
    top: 0;
  }
  25% {
    top: -57px;
  }
  75% {
    top: -57px;
  }
  100% {
    top: 0;
  }
}
#markerLayer div {
  animation: pulse 0.5s infinite alternate, drop 0.5s 1;
  transform-origin: center;
}

@keyframes pulse {
  to {
    transform: scale(0.7);
  }
}
@keyframes drop {
  0% {
    transform: translate3d(0px, -500px, 0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, 0px, 0);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translate3d(0px, -20px, 0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
    animation-timing-function: ease-out;
  }
}

/*# sourceMappingURL=demonstration.css.map */
