@charset "UTF-8";
/*TODO https://habr.com/ru/company/alfa/blog/441674/*/
/*https://chromium.googlesource.com/chromium/blink/+/master/Source/core/css/html.css*/
/*https://dxr.mozilla.org/mozilla-central/source/layout/style/res/html.css*/
/*https://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css*/
@font-face {
  font-family: "RR Beaver";
  src: url("../fonts/RR_Beaver.woff") format("woff2"), url("../fonts/RR_Beaver.woff2") format("woff");
}
:root {
  --yellow: #f7db15;
  --gray: whitesmoke;
  --content-padding: 8px;
  --mobile-width: 664px;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  /*Из-за ошибки vh неучитывается высота urlbar'a в мобильной версии*/
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  margin: 0;
}

footer, header {
  box-sizing: border-box;
  height: 57px;
  background-color: white;
}

header {
  border-bottom: 1px solid #e0e0e0;
}

footer {
  border-top: 1px solid #e0e0e0;
}
footer .right-side__button {
  font-size: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a.right-side__button {
  text-decoration: none;
}

input.right-side__button {
  border: 0;
  background-color: white;
}

.right-side__button {
  border-radius: 2px;
  margin-left: 4px;
  padding: 8px 0;
}
.right-side__button:not([disabled]):hover {
  cursor: pointer;
  text-decoration: none;
  background-color: whitesmoke;
}
.right-side__button[name=language] {
  text-transform: uppercase;
}

.full-window {
  margin: 0 -8px;
  width: calc(100% + 8px * 2);
  height: 100%;
}

.wrapper, #windows-wrapper {
  margin: 0 auto;
}

.wrapper {
  height: 100%;
  display: flex;
}

#windows-wrapper {
  max-height: 900px;
  position: relative;
  height: calc(100% - 57px);
  overflow: auto;
}

#windows-content {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#preloading-window, #search-window, #event-types-window, #login-window {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#search-window__search-box {
  border: 0.125rem solid #dee2e6;
  width: 400px;
  font-weight: 400;
  line-height: 40px;
  padding: 0 15px;
  font-size: 15px;
  display: inline-block;
  letter-spacing: normal;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 6px;
}
#search-window__search-box:focus {
  border-color: #f7e24f;
  outline: none;
  box-shadow: 0 0 72px rgba(247, 219, 21, 0.5);
}

.pac-container {
  margin-top: 5px;
}

#map-window__map {
  min-height: 260px;
  width: 100%;
  height: 100%;
}

#modal {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal__content {
  background-color: #fefefe;
  max-height: 100%;
  overflow: auto;
  border: 1px solid #888;
  width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal__body {
  padding: 2px 16px;
}
.modal__body input {
  box-sizing: border-box;
}
.modal__body * {
  width: 100%;
  display: block;
  margin: 13px 0;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#modal__close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#modal__close:hover, #modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal__header, .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.card__header {
  font-size: 26px;
  font-weight: 400;
}

.card__topic {
  width: 100%;
  display: flex;
  padding: 0 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-bottom: 7px;
}

#topic__back-button {
  padding: 0 6px;
  font-size: 20px;
  cursor: pointer;
}

#card__content .card__header {
  margin-bottom: 7px;
}
#card__content .card__header:not(:first-child) {
  margin-top: 7px;
}

#card__image {
  width: 100%;
}

.control-button, #card__description, #card__schedule {
  font-size: 18px;
}

#nav-logo {
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
#nav-logo svg {
  /*Недоконца по центру*/
  vertical-align: top;
}
#nav-logo svg * {
  fill: #f7db15;
}

.right-side, .left-side {
  display: flex;
  align-items: center;
  height: 100%;
}

.right-side {
  margin-left: auto;
}

.left-side {
  margin-right: auto;
}

.fa-sign-out-alt {
  font-size: 150%;
  color: #f7db15;
}

#card__schedule #create-event-button, #card__schedule table .details-button {
  background: #f7db15;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
#card__schedule #create-event-button:hover, #card__schedule table .details-button:hover {
  background: #f7e24f;
}

#card__schedule {
  width: 100%;
  line-height: 24px;
  text-align: left;
}
#card__schedule table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
  border-bottom: 2px solid white;
}
#card__schedule table tbody tr:nth-child(odd) {
  background-color: #f0f9ff;
}
#card__schedule table td {
  border: 2px solid white;
  height: 40px;
}
#card__schedule table th:first-child {
  width: 41px;
}
#card__schedule table td:first-child {
  text-align: center;
}
#card__schedule #create-event-button {
  margin: 0 auto;
  width: 300px;
  line-height: 40px;
}

#login-window {
  flex-direction: column;
}

#login-form-inputs {
  position: relative;
  border-color: #f7db15;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}
#login-form-inputs::before {
  border-color: #f7db15;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  bottom: -1px;
  content: "";
  left: -1px;
  pointer-events: none;
  position: absolute;
  right: -1px;
  top: -1px;
}
#login-form-inputs input {
  border: 0;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 18px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#form {
  box-sizing: border-box;
  border: 3px solid rgba(247, 219, 21, 0.5);
  overflow-y: auto;
  margin: 8px 0 8px 0;
  max-width: 416px;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.9);
  padding: 8px;
  border-radius: 3px;
}
#form input {
  width: 100%;
}
#form button {
  border-radius: 3px;
  width: 100%;
  background-color: #f7db15;
  height: 36px;
  color: black;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#form button:hover {
  background-color: #f7e24f;
}
#form #login-button, #form #signup-button {
  margin-top: 12px;
}

.placeholder {
  color: gray;
}

#form-header {
  font-size: 1.5em;
  margin-bottom: 8px;
  text-align: center;
}

.card {
  width: 640px;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}

.user-bar {
  cursor: pointer;
  padding: 20px;
  background-color: #5682a3;
  color: white;
  font-weight: 500;
  font-size: medium;
  border-radius: 2px;
}
.user-bar:hover {
  background-color: #497799;
}
.user-bar:not(:last-child) {
  margin-bottom: 20px;
}

#browser-outdated {
  position: absolute;
  overflow: auto;
  text-transform: uppercase;
  text-align: center;
  background-color: #f25648;
  color: white;
  width: 100%;
  height: 100%;
}
#browser-outdated h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 0;
}
#browser-outdated p {
  font-size: 12px;
  line-height: 12px;
  margin: 0 14px;
}

#browser-outdated__update-button {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  margin-top: 0.67em;
  width: 230px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  cursor: pointer;
}
#browser-outdated__update-button:hover {
  color: #f25648;
  background-color: white;
}

#browser-outdated__center-table {
  display: table;
  height: 100%;
  width: 100%;
}

#browser-outdated__center-row {
  display: table-cell;
  vertical-align: middle;
}

.control-button {
  cursor: pointer;
  direction: ltr;
  overflow: hidden;
  text-align: center;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  color: #565656;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  user-select: none;
  background-color: white;
  padding: 0 17px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
  min-width: 71px;
}

.control-button_clicked {
  background-color: #f7db15;
  font-weight: 500;
  color: black;
}

@media (min-width: 1625px) {
  .wrapper, #windows-wrapper {
    width: 1600px;
  }
}
@media (min-width: 1305px) and (max-width: 1624px) {
  .wrapper, #windows-wrapper {
    width: 1280px;
  }
}
@media (min-width: 985px) and (max-width: 1304px) {
  .wrapper, #windows-wrapper {
    width: 960px;
  }
}
@media (min-width: 665px) and (max-width: 984px) {
  .wrapper, #windows-wrapper {
    width: 640px;
  }
}
@media (max-width: 664px) {
  .right-side__button {
    text-align: center;
    padding: 0;
  }
}
@media (min-width: 336px) and (max-width: 664px) {
  .wrapper, #windows-wrapper {
    width: 320px;
  }

  .event-type-cell {
    width: 100%;
  }

  .card {
    overflow: auto;
  }
}
@media (max-width: 335px) {
  .wrapper, #windows-wrapper, .event-type-cell, #card__schedule #create-event-button {
    width: 100%;
  }

  .card {
    overflow: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
