@charset "utf-8";

/*TODO https://habr.com/ru/company/alfa/blog/441674/*/
/*https://chromium.googlesource.com/chromium/blink/+/master/Source/core/css/html.css*/
/*https://dxr.mozilla.org/mozilla-central/source/layout/style/res/html.css*/
/*https://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css*/
@import "base/globals";
@import "base/colors";
@import "base/fonts.scss";

:root {
	--yellow: #{$yellow};
	--gray: #{$gray};
	--content-padding: #{$content-padding};
	--mobile-width: #{2 * $base-width + 24px};  // engine.js: isMobile
}

html {
	font-family: $default-font;
}

body {
	/*Из-за ошибки vh неучитывается высота urlbar'a в мобильной версии*/
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: $gray;
	margin: 0;
}

%marginal {
	//padding: $content-padding;
	box-sizing: border-box;
	height: $marginals-height;
	background-color: white;
}

header {
	@extend %marginal;
	border-bottom: $marginals-border;
}

footer {
	@extend %marginal;
	border-top: $marginals-border;

	.right-side__button {
		font-size: 15px;
		font-family: Roboto, Helvetica, Arial, sans-serif;
	}
}

a.right-side__button {
	text-decoration: none;
}

input.right-side__button {
	border: 0;
	background-color: white;
}

.right-side__button {
	border-radius: 2px;
	margin-left: 4px;
	padding: $content-padding 0;

	&:not([disabled]):hover {
		cursor: pointer;
		text-decoration: none;
		background-color: $gray;
	}

	&[name="language"] {
		text-transform: uppercase;
	}
}

.full-window {
	margin: 0 #{-$content-padding};
	width: calc(100% + 8px * 2);
	height: 100%;
}

.wrapper, #windows-wrapper {
	margin: 0 auto;
}

.wrapper {
	height: 100%;
	display: flex;
}

#windows-wrapper {
	max-height: 900px;
	position: relative;
	height: calc(100% - #{$marginals-height});
	overflow: auto;
}

#windows-content {
	padding-left: $content-padding;
	padding-right: $content-padding;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

#windows-wrapper, #windows-content, #event-types-window {
	//min-height: min-content;
}

#preloading-window, #search-window, #event-types-window, #login-window {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

#search-window__search-box {
	border: .125rem solid #dee2e6;
	width: 400px;
	font-weight: 400;
	line-height: 40px;
	padding: 0 15px;
	font-size: 15px;
	display: inline-block;
	letter-spacing: normal;
	text-decoration: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	margin: 6px;

	&:focus {
		border-color: $yellow-hovered;
		outline: none;
		box-shadow: 0 0 72px $yellow-transparent;
	}
}

//noinspection CssUnusedSymbol
.pac-container {
	margin-top: 5px;
}

#map-window__map {
	min-height: 260px;
	width: 100%;
	height: 100%;
}

#modal {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
}

#modal__content {
	background-color: #fefefe;
	max-height: 100%;
	overflow: auto;
	border: 1px solid #888;
	width: $base-width;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

.modal__body {
	input {
		box-sizing: border-box;
	}

	* {
		width: 100%;
		display: block;
		margin: 13px 0;
	}

	padding: 2px 16px;
}

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

#modal__close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;

	&:hover, &:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
}

.modal__header, .modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

.card__header {
	font-size: 26px;
	font-weight: 400;
}

.card__topic {
	width: 100%;
	display: flex;
	padding: 0 3px;
	box-sizing: border-box;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	align-items: center;
	margin-bottom: 7px;
}

#topic__back-button {
	padding: 0 6px;
	font-size: 20px;
	cursor: pointer;
}

#card__content .card__header {
	margin-bottom: 7px;

	&:not(:first-child) {
		margin-top: 7px;
	}
}

#card__image {
	width: 100%;
}

//noinspection CssUnusedSymbol
.control-button, #card__description, #card__schedule {
	font-size: 18px;
}

#nav-logo {
	text-decoration: none;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;

	svg {
		/*Недоконца по центру*/
		vertical-align: top;

		* {
			fill: $yellow;
		}
	}
}

.right-side, .left-side {
	display: flex;
	align-items: center;
	height: 100%;
}

.right-side {
	margin-left: auto;
}

.left-side {
	margin-right: auto;
}

.fa-sign-out-alt {
	font-size: 150%;
	color: $yellow;
}

%card-button {
	background: $yellow;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	text-align: center;

	&:hover {
		background: $yellow-hovered;
	}
}

#card__schedule {
	$row-height: 40px;
	$schedule-border: 2px solid white;
	width: 100%;
	line-height: 24px;

	text-align: left;

	table {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		border-style: hidden;
		border-bottom: $schedule-border;

		tbody tr:nth-child(odd) {
			background-color: rgb(240, 249, 255);
		}

		td {
			border: $schedule-border;
			height: $row-height;
		}

		th:first-child {
			width: 41px;
		}

		td:first-child {
			text-align: center;
		}

		.details-button {
			@extend %card-button;
		}
	}

	#create-event-button {
		@extend %card-button;
		margin: 0 auto;
		width: $base-width - 20px;
		line-height: $row-height;
	}
}

#login-window {
	flex-direction: column;
}

#login-form-inputs {
	position: relative;
	border-color: $yellow;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;

	&::before {
		border-color: $yellow;
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		bottom: -1px;
		content: '';
		left: -1px;
		pointer-events: none;
		position: absolute;
		right: -1px;
		top: -1px;
	}

	input {
		border: 0;
		box-sizing: border-box;
		padding: 12px;
		font-size: 14px;
		line-height: 18px;
		font-family: $default-font;
	}
}

#form {
	box-sizing: border-box;
	border: 3px solid $yellow-transparent;
	overflow-y: auto;
	margin: $content-padding 0 $content-padding 0;
	max-width: 416px;
	width: 100%;
	background-color: $gray-transparent;
	padding: $content-padding;
	border-radius: 3px;

	input {
		width: 100%;
	}

	button {
		border-radius: 3px;
		width: 100%;
		background-color: $yellow;
		height: 36px;
		color: black;
		border: 0;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			background-color: $yellow-hovered;
		}
	}

	#login-button, #signup-button {
		margin-top: 12px;
	}
}

.placeholder {
	color: gray;
}

#form-header {
	font-size: 1.5em;
	margin-bottom: $content-padding;
	text-align: center;
}

.card {
	width: 640px;
	max-width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: white;
}

.user-bar {
	cursor: pointer;
	padding: 20px;
	background-color: rgb(86, 130, 163);
	color: white;
	font-weight: 500;
	font-size: medium;
	border-radius: 2px;

	&:hover {
		background-color: rgb(73, 119, 153);
	}

	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

#browser-outdated {
	position: absolute;
	overflow: auto;
	text-transform: uppercase;
	text-align: center;
	background-color: $red;
	color: white;
	width: 100%;
	height: 100%;

	h1 {
		font-size: 25px;
		font-weight: 700;
		line-height: 25px;
		margin-bottom: 10px;
		margin-top: 0;
	}

	p {
		font-size: 12px;
		line-height: 12px;
		margin: 0 14px;
	}
}

#browser-outdated__update-button {
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	margin-top: 0.67em;
	width: 230px;
	color: white;
	text-decoration: none;
	border: 2px solid white;
	cursor: pointer;

	&:hover {
		color: $red;
		background-color: white;
	}
}

#browser-outdated__center-table {
	display: table;
	height: 100%;
	width: 100%;
}

#browser-outdated__center-row {
	display: table-cell;
	vertical-align: middle;
}

//noinspection CssUnusedSymbol
.control-button {
	cursor: pointer;
	direction: ltr;
	overflow: hidden;
	text-align: center;
	height: 40px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	color: rgb(86, 86, 86);
	font-family: $default-font;
	user-select: none;
	background-color: rgb(255, 255, 255);
	padding: 0 17px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
	min-width: 71px;
}

//noinspection CssUnusedSymbol
.control-button_clicked {
	background-color: $yellow;
	font-weight: 500;
	color: rgb(0, 0, 0);
}


@media (min-width: 5 * $base-width + 25px) {
	.wrapper, #windows-wrapper {
		width: 5 * $base-width;
	}
}

@media (min-width: 4 * $base-width + 25px) and (max-width: 5 * $base-width + 24px) {
	.wrapper, #windows-wrapper {
		width: 4 * $base-width;
	}
}

@media (min-width: 3 * $base-width + 25px) and (max-width: 4 * $base-width + 24px) {
	.wrapper, #windows-wrapper {
		width: 3 * $base-width;
	}
}

@media (min-width: 2 * $base-width + 25px) and (max-width: 3 * $base-width + 24px) {
	.wrapper, #windows-wrapper {
		width: 2 * $base-width;
	}
}

@media (max-width: 2 * $base-width + 24px) {
	.right-side__button {
		text-align: center;
		padding: 0;
	}
}

@media (min-width: $base-width + 16px) and (max-width: 2 * $base-width + 24px) {
	.wrapper, #windows-wrapper {
		width: $base-width;
	}

	.event-type-cell {
		width: 100%;
	}

	.card {
		overflow: auto;
	}
}

@media (max-width: $base-width + 15px) {
	.wrapper, #windows-wrapper, .event-type-cell, #card__schedule #create-event-button {
		width: 100%;
	}

	.card {
		overflow: auto;
	}
}

