{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=320, initial-scale=1">
    <title>{% trans "Nefar - just look for events" %}</title>

    <!--[Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "activities/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "activities/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "activities/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "admin" %}">
    <link rel="mask-icon" href="{% static "activities/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--Favicons]-->

    <link href="{% static "activities/stylesheets/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "activities/stylesheets/demonstration.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "activities/stylesheets/components/background-slider.css" %}" rel="stylesheet"
          type="text/css">
    <link href="{% static "activities/fontawesome/css/all.css" %}" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}

    <script src="{% static "activities/js/js.cookie.js" %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
</head>

{#tabindex="-1" Для реагирования на клик вне поля поиска#}
<body tabindex="-1">
<script src="{% static "activities/platform/platform.js" %}"></script>

<header>
    <div class="wrapper">
        <div class="left-side">
            <a href="/" id="nav-logo" tabindex="1">
                <svg width="100" height="42" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148 59">
                    <path d="m141.65369,0l-109.77138,0a31.88231,31.88231 0 0 0 -31.88231,31.88231l0,21.03631a6.24631,6.24631 0 0 0 6.24631,6.24138l116.01769,0a25.636,25.636 0 0 0 25.636,-25.636l0,-27.27769a6.24631,6.24631 0 0 0 -6.24631,-6.24631zm2.30231,33.524a21.692,21.692 0 0 1 -21.692,21.692l-116.01769,0a2.30231,2.30231 0 0 1 -2.30231,-2.30231l0,-21.03138a27.96789,27.96789 0 0 1 27.93831,-27.93831l109.77138,0a2.30231,2.30231 0 0 1 2.30231,2.30231l0,27.27769z"></path>
                    <text x="-9.004466" y="-32.776257" font-size="24" font-family="RR Beaver"
                          transform="matrix(1.262,0,0,1.262,40.26,81.435)" letter-spacing="1.8">NEFAR
                    </text>
                </svg>
            </a>
        </div>

        <div class="right-side">
            {% if user.is_authenticated %}
                <a id="logout" class="right-side__button" href="{% url 'logout' %}" tabindex="2"><i class="far fa-sign-out-alt"></i></a>
            {% endif %}
        </div>
    </div>
</header>

<div id="windows-wrapper">
    <div id="modal" style="display: none;">
        <div id="modal__content">
            <div class="modal__header">
                <span id="modal__close">&times;</span>
                <h2 class="modal__header-text" id="modal__header-text_add-place" style="display: none;">{% trans 'Add place' %}</h2>
                <h2 class="modal__header-text" id="modal__header-text_no-events" style="display: none;">{% trans 'Alas' %}...</h2>
                <h2 class="modal__header-text" id="modal__header-text_not-done" style="display: none;">{% trans 'Alas' %}...</h2>
                <h2 class="modal__header-text" id="modal__header-text_be-consider" style="display: none;">{% trans 'Thanks!' %}...</h2>
            </div>

            <div class="modal__body" id="modal__body_add-place" style="display: none;">
                <form>
                    <p>{% trans 'Address' %}<span id="modal__place-address"></span></p>
                    <input id="modal__latitude" type="text" readonly name="latitude" title="{% trans 'Latitude' %}">
                    <input id="modal__longitude" type="text" readonly name="longitude" title="{% trans 'Longitude' %}">
                    <p>{% trans 'Name' %}:</p>
                    <input type="text" name="name" title="{% trans 'Name' %}">
                    <p>{% trans 'Description' %}:</p>
                    <input type="text" name="description" title="{% trans 'Description' %}">
                    <button id="modal__done-button" type="button">{% trans 'Add place' %}</button>
                </form>
            </div>
            <div class="modal__body" id="modal__body_no-events" style="display: none;">
                {% trans 'We could not find anything in this place' %}. :(
            </div>
            <div class="modal__body" id="modal__body_not-done" style="display: none;">
                {% trans 'This feature is under development' %}. :)
            </div>
            <div class="modal__body" id="modal__body_be-consider" style="display: none;">
                {% trans 'Your place will be considered soon' %}.
            </div>
        </div>
    </div>

    <div class="background-slider">
        <div class="background-slider__slide1"></div>
        <div class="background-slider__slide2"></div>
        <div class="background-slider__slide3"></div>
        <div class="background-slider__slide4"></div>
    </div>

    <div id="browser-outdated" style="display: none;">
        <div id="browser-outdated__center-table">
            <div id="browser-outdated__center-row">
                <h1>{% trans 'Your browser is not supported' %}!</h1>
                <p>{% trans 'Update your browser to display the site correctly' %}.</p>
                <a id="browser-outdated__update-button" href="http://outdatedbrowser.com/">{% trans 'Update my browser' %}</a>
            </div>
        </div>
    </div>

    <div id="windows-content" style="display: none;">
        {% block content %}{% endblock %}
    </div>
</div>

<footer>
    <div class="wrapper">
        <div class="left-side">
            <span class="placeholder">© 2018–{% now 'Y' %} NEFAR. {% trans 'All rights reserved.' %}</span>
        </div>
        <div class="right-side">
            <i class="far fa-language"></i>
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <input onclick="switchLanguage(this.value)" type="button" class="right-side__button" name="language" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} disabled="disabled"{% endif %} tabindex="0"/>
            {% endfor %}
            <div class="right-side__button" onclick="contact()" tabindex="0">
                <i class="far fa-envelope"></i>
                <span>{% trans 'Contact us' %}</span>
            </div>
        </div>
    </div>
</footer>

<script>
    function contact() {
        let s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//code.jivosite.com/script/widget/o15Bt4n3TP';
        let ss = document.getElementsByTagName('script')[0];
        ss.parentNode.insertBefore(s, ss);
    }

    function switchLanguage(languageCode) {
        let x = new FormData();
        x.set('language', languageCode);
        fetch('{% url 'set_language' %}', {method: 'POST', headers: {'X-CSRFToken': Cookies.get('csrftoken')}, body: x}).then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
        });
    }
</script>

<script>
    if (platform.name === 'Firefox') {
        document.querySelector('#nav-logo text').setAttribute("textLength", "72.13");
    }

    let version = Number(platform.version.split('.')[0]);
    if ((platform.name === 'Chrome' && version < 68) ||
        (platform.name === 'Firefox' && version < 61) ||
        (platform.name === 'Opera' && version < 55) ||
        (platform.name === 'Safari' && version < 11) ||
        (platform.name === 'Chrome Mobile' && version < 73) ||
        (platform.name === 'Microsoft Edge' && version < 17) ||
        platform.name === 'IE') {
        document.getElementById('browser-outdated').style.display = '';
    } else {
        document.getElementById('windows-content').style.display = '';
    }
</script>
</body>
</html>