{% extends "activities/base.html" %}
{% load i18n static %}

{% block stylesheets %}
    <link href="{% static "activities/stylesheets/components/event-types-slider.css" %}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block content %}
    <div id="search-window" style="display: none;">
        <label for="search-window__search-box"></label><input type="text" id="search-window__search-box" placeholder="{% trans 'Enter place' %}">
    </div>

    <div id="event-types-window" style="display: none;">
        <div id="event-types-window__slider">
            <template id="event-types-window__cell-template">
                <div class="event-type-cell">
                    <div class="event-type-cell__article">
                        <div class="event-type-cell__hover-bg">
                            <i class="event-type-cell__icon"></i>
                        </div>
                        <div class="event-type-cell__name"></div>
                    </div>
                </div>
            </template>
            <div id="event-types-window__slide">
                <a id="event-types-window__prev">&#10094;</a>
                <a id="event-types-window__next">&#10095;</a>
                <div id="event-types-window__cells"></div>
            </div>

            <div id="event-types-window__dots"></div>
        </div>
    </div>

    <div id="map-window" class="full-window" style="display: none;">
        <div id="map-window__map"></div>

        <template id="card_event-place-template">
            <div class="card" id="card_event-place">

                <div class="card__topic">
                    <span class="card__header"></span>
                    <i id="topic__close-button" class="far fa-times" style="display: none;"></i>
                    <span class="close-button" style="display: none;">&times;</span>
                </div>

                <div id="card__content">
                    <!--suppress HtmlRequiredAltAttribute, RequiredAttributes -->
                    <img id="card__image">
                    <div id="card__description"></div>
                    <div id="card__schedule">
                        <table>
                            <thead>
                            <tr>
                                <th>{% trans 'Type' %}</th>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Date' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div id="create-event-button">
                            {% trans 'Create event' %}
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template id="card_user-bars-template">
            <div class="card" id="card_user-bars">
                <template id="user-bar-template">
                    <div class="user-bar">
                        <span class="user-bar__name"></span>
                    </div>
                </template>

                <div class="card__topic">
                    <i id="topic__back-button" class="far fa-chevron-left"></i>
                    <span class="card__header"></span>
                    <i id="topic__close-button" class="far fa-times" style="display: none;"></i>
                </div>

                <div id="card__content">
                    <div class="card__header">{% trans 'Organizer' %}</div>
                    <div class="card__section" id="card__section_organizer"></div>
                    <div class="card__header">{% trans 'Participators' %}</div>
                    <div class="card__section" id="card__section_participators"></div>
                </div>
            </div>
        </template>
    </div>

    <script>
        function init() {
            let script = document.createElement('script');
            script.src = '{% static "activities/js/engine.js" %}';
            document.head.appendChild(script);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtpk9n5wYxylKNIe8evb3bGExCBzgfzxA&language={{ LANGUAGE_CODE }}&libraries=places&callback=init"
            async></script>
{% endblock %}
