{% extends "activities/base.html" %}
{% load i18n %}
{% load socialaccount %}
{% block content %}
    <div id="login-window">
        <div id="form">
            <div id="form-header">{% trans 'Login' %}</div>
            <form action="" method="post">
                {% csrf_token %}
                <div id="login-form-inputs">
                    <div style="border-bottom: 1px solid var(--gray);">
                        {{ form.username }}
                    </div>
                    {{ form.password }}
                </div>
                <button id="login-button" style="animation: glowing 1500ms infinite;" type="submit">{% trans 'Log in' %}</button>
                <button style="margin-top: 10px;">
                    <a href="{% provider_login_url 'google' %}" style="text-decoration: none;">Login with Google</a>
                </button>
                {% comment %}<tr>
                <td class="input_label">Логин:</td>
                <td><input class="input_field" name="username" type="text"></td>
            </tr>
            <tr>
                <td class="input_label">Пароль:</td>
                <td><input class="input_field" name="password" type="password"></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>{% endcomment %}
            </form>
            <form action="{% url 'signup' %}" method="get" name="signup">
                <button id="signup-button" type="submit">{% trans 'Sign up' %}</button>
            </form>
        </div>
    </div>


    <script name="show-footer">
        let wrapper = document.getElementById('windows-wrapper');
        if (parseInt(window.getComputedStyle(wrapper, null).maxHeight) !== wrapper.clientHeight) {
            document.body.style.animation = 'show-footer 2000ms 1 ease 1s';
        }
    </script>
{% endblock %}