{% extends "activities/base.html" %}
{% load i18n %}
{% block content %}
    <div id="login-window">
        <div id="form">
            <div id="form-header">{% trans 'Signup' %}</div>
            <!--suppress Annotator -->
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p {% if forloop.first %} style="margin-top: 0;" {% endif %}>
                        {{ field.label_tag }}
                        <br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey;">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button type="submit">{% trans 'Sign up' %}</button>
            </form>
        </div>
    </div>
{% endblock %}