@charset "UTF-8";
/*https://www.script-tutorials.com/css3-fade-slider/*/
/*
Hello Les, please pay attention to animation keyframes, right now it is adjusted to work only with 4 images.
Try to imagine full cycle. There are 4 sectors (for every image). Every slide should be visible 25 (100 / 4)
percentages of whole cycle, in case of 18 images it should be ~ 5%. So, every step – in the beginning (0%) we should
keep it invisible (opacity = 0), then during next 6 percentages we can increase opacity smoothly to 1. After,
 keep it (opacity: 1) until 24%, And finally – we change opacity smoothly for next 1% period. Finally,
 we keep it (transparent) for next 3/4 of whole cycle.
In your case, you can make it visible due 1% (of 5 total percentages), then you can keep it visible till 4%,
and finally, during 0.5 – 1.0% you can decrease opacity to zero.
*/
.background-slider {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.background-slider__slide1, .background-slider__slide2, .background-slider__slide3, .background-slider__slide4 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade 24s linear infinite;
  animation-fill-mode: forwards;
}

.background-slider__slide1 {
  animation-delay: 0s;
  background-image: url(../../img/background1.png);
}

.background-slider__slide2 {
  animation-delay: 6s;
  background-image: url(../../img/background2.png);
}

.background-slider__slide3 {
  animation-delay: 12s;
  background-image: url(../../img/background3.png);
}

.background-slider__slide4 {
  animation-delay: 18s;
  background-image: url(../../img/background4.png);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=background-slider.css.map */
