@import "../base/colors";
@import "../base/globals";

$slider-button-height: 30px;
$slider-button-width: 22px;
$slider-button-padding: 6px;

.event-type-cell {
	word-break: break-word;
	font-size: initial;
	padding: 8px;
	box-sizing: border-box;
}

.event-type-cell__hover-bg {
	&:hover {
		background-color: $yellow;
	}

	flex: 1;
	cursor: pointer;
	border-radius: 6px 6px 0 0;
	display: flex;
	text-decoration: none;
	justify-content: center;

	i {
		color: rgb(34, 34, 34);
	}
}

.event-type-cell__article {
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	height: 100%;
	background-color: rgb(245, 245, 245);
	text-align: center;
	font-size: 31px;
}

#event-types-window__slider {
	flex-direction: column;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	min-height: min-content;
}

#event-types-window__cells {
	min-height: min-content;
}

#event-types-window__slide {
	min-height: min-content;
	position: relative;
	display: flex;
	width: 100%;
}

#event-types-window__prev, #event-types-window__next {
	width: $slider-button-width;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	top: calc(50% - #{$slider-button-height} / 2);
	padding: $slider-button-padding;
	color: white;
	font-weight: bold;
	font-size: $slider-button-height - 2 * $slider-button-padding;
	line-height: $slider-button-height - 2 * $slider-button-padding;
	border-radius: 3px;
}

#event-types-window__prev {
	left: 0;
}

#event-types-window__next {
	right: 0;
}

#event-types-window__prev:hover, #event-types-window__next:hover {
	background-color: $yellow-hovered;
}

.dot {
	box-sizing: border-box;
	cursor: pointer;
	background-color: white;
	border-radius: 50%;
	/*display: inline-block;*/
	&.selected {
		background-color: $yellow;
	}
}

.active, .dot:hover {
	background-color: $yellow-hovered;
}

#event-types-window__cells {
	flex-grow: 1;
	padding: 0 $slider-button-width;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#event-types-window__dots {
	padding-bottom: $content-padding;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
