.event-type-cell {
  word-break: break-word;
  font-size: initial;
  padding: 8px;
  box-sizing: border-box;
}

.event-type-cell__hover-bg {
  flex: 1;
  cursor: pointer;
  border-radius: 6px 6px 0 0;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
.event-type-cell__hover-bg:hover {
  background-color: #f7db15;
}
.event-type-cell__hover-bg i {
  color: #222222;
}

.event-type-cell__article {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  height: 100%;
  background-color: whitesmoke;
  text-align: center;
  font-size: 31px;
}

#event-types-window__slider {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  min-height: min-content;
}

#event-types-window__cells {
  min-height: min-content;
}

#event-types-window__slide {
  min-height: min-content;
  position: relative;
  display: flex;
  width: 100%;
}

#event-types-window__prev, #event-types-window__next {
  width: 22px;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 30px / 2);
  padding: 6px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border-radius: 3px;
}

#event-types-window__prev {
  left: 0;
}

#event-types-window__next {
  right: 0;
}

#event-types-window__prev:hover, #event-types-window__next:hover {
  background-color: #f7e24f;
}

.dot {
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  /*display: inline-block;*/
}
.dot.selected {
  background-color: #f7db15;
}

.active, .dot:hover {
  background-color: #f7e24f;
}

#event-types-window__cells {
  flex-grow: 1;
  padding: 0 22px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#event-types-window__dots {
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=event-types-slider.css.map */
